body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #009688;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #00796b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px 0 50px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h2 {
    color: #009688;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #009688;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.search-bar {
    margin-left: 60px;
}