body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #009688;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #00796b;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px 0 50px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #009688;
}

.courses {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.courses h2 {
    color: #009688;
}

.courses ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.courses li {
    flex: 0 0 calc(33.3333% - 20px);
    margin: 10px 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    transition: background-color 0.3s;
}

.courses li:hover {
    background-color: #f4f4f4;
}

.courses li a {
    color: #333;
    text-decoration: none;
}

.paraincourses {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #009688;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.search-bar {
    margin-left: 60px;
}

.nav-link {
    color: white !important;
}

.nav-item {
    margin-right: 125px;
}
