body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #009688;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav {
  background-color: #00796b;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px 0 50px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 1600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:550;
}

.welcome-section {
  text-align: center;
}

.welcome-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.features-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 20px;
  background-color: #e0f2f1;
  border-radius: 5px;
  margin: 10px;
}

footer {
  background-color: #009688;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.search-bar {
  margin-left: 60px;
}

ul {
  list-style: none;
  padding: 10px;
}

li {
  margin: 10px 0;
  font-weight: bold;
}

/* CSS for clickable items */
.clickable {
  cursor: pointer;
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s;
}

.clickable:hover {
  color: #2980b9;
}

/* CSS to hide items initially */
.hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.visible {
  max-height: 1000px;
  /* Set a value large enough to accommodate your content */
  opacity: 1;
}